</br>
<% if @user.nil? %>

<% elsif @user.id == current_user.id %>
	<%= link_to 'Add Listing', new_listing_path, class: "btn btn-warning btn-sm" %>
<% end %>

<h1 class='text-center'><%= @title %></h1>
</br></br></br>	

<div class="container">
	<div class="row">

		<%  @listings.each do | listing | %>

		<div class="col-sm-4">
			<%= render partial: '/listings/show', locals: { listing: listing } %>
		</div>

		<% end %>

	</div>
</div>